/* Sidebar*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    color: #778899;
}

h1 {
    font-size: 1.4em;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Layout */

.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.s-layout__content {
    flex: 1;
    padding-top: 30px;
}


/* Sidebar */

.s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #506578;
}

.s-sidebar__trigger>i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
}

.s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #243e56;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0 5px 8px #8AC;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus+.s-sidebar__nav,
.s-sidebar__trigger:hover+.s-sidebar__nav {
    left: 0;
}

.s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
}

.s-sidebar__nav ul li {
    width: 100%;
}

.s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
    background-color: #4682B4
}

.s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
    background: #4d6276;
}

.s-sidebar__nav-link>i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.s-sidebar__nav-link>i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 500px) {
    .s-layout__content {
        margin-left: 4em;
    }
    /* Sidebar */
    .s-sidebar__trigger {
        width: 4em;
    }
    .s-sidebar__nav {
        width: 4em;
        left: 0;
    }
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover+.s-sidebar__nav,
    .s-sidebar__trigger:focus+.s-sidebar__nav {
        width: 15em;
    }
    .logo-img {
        width: 19%;
        padding-top: 10px;
        padding-left: 20px;
        content: url("../HTML/Pages/Dashboard/logo2.png");
    }
}

@media (min-width: 68em) {
    .s-layout__content {
        margin-left: 15em;
    }
    /* Sidebar */
    .s-sidebar__trigger {
        display: none
    }
    .s-sidebar__nav {
        width: 15em;
    }
    .s-sidebar__nav ul {
        top: 1.3em;
    }
    .logo-img {
        padding-left: 20px;
        width: 80%;
        content: url("../HTML/Pages/Dashboard/logo.png");
    }
}


/* endregion Sidebar */


/* Tabs */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font: 14px/1.5 'Open Sans', sans-serif;
    color: #345;
    background: #778899;
}

p:not(:last-child) {
    margin: 0 0 20px;
}

main {
    background: #778899;
}

section {
    display: none;
    padding: 21px 0 0;
    border-top: 1px solid #abc;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    color: white;
    cursor: pointer;
}

input:checked+label {
    color: #FFD700;
    border: 1px solid #abc;
    border-bottom: 2px solid #FFD700;
    border-spacing: 1px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block;
}

@media screen and (max-width: 600px) {
    label {
        font-size: 10;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (min-width: 500px) {
    label {
        padding: 15px;
    }
}


/* endregion Tabs */


/* Table  */

thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

th {
    background-color: #FFD700;
    border-color: transparent;
    text-align: left!important;
    color: white;
    overflow: overlay;
}

tr>td {
    overflow: overlay;
    background-color: #506578;
    color: white;
    border-color: transparent;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    background-color: #778899;
}

table {
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        padding-top: 1600px;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}


/* endregion Table */


/* RangeSlider */

.slidecontainer {
    min-width: 450px;
}

.result {
    background-color: #00008B;
    padding: 3.7px;
    margin-left: 10px;
    width: 10%;
    padding-bottom: 1px;
}

.border {
    border: 0.5px white solid;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
}

.slider {
    -webkit-appearance: none;
    display: inline !important;
    height: 5px;
    background: #00008B;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #FF8C00;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}


/* endregion RangeSlider */


/* DropdownSearch */

.dropbtn {
    background-color: #FFD700;
    color: white;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.arrow-down {
    padding: 5px 5px 5px 8px;
    display: inline-flex;
    background-color: gray;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #FFE4C4;
}

.sliderInput {
    display: block!important;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 10px;
    border: none;
    color: white;
    background-color: #243e56;
    border-bottom: 1px solid #243e56;
}

.sliderInput:focus {
    outline: 3px solid #243e56;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #243e56;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #243e56;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding-left: 10px;
    padding-top: 15px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #778899;
}

.show {
    display: block;
}

.container {
    display: inline-flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* endregion DropdownSearch */

.mt-20 {
    margin-top: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.p-16 {
    padding: 16px;
}

.display-inline {
    display: inline;
}

.color-white {
    color: white!important;
}